.content {
    max-width: 800px;
    margin: 0 auto;
}
.content h1 {
    text-align: center;
}
.content ol {
    text-align: left;
}
.install.button {
    font-size: 12pt;
}
iframe.seamless {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
    width: 100%;
}
